@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap");

body {
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#mainContainer {
  position: relative;
  width: 416px;
  height: 629px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  margin: auto;
}

#topContainer {
  position: absolute;
  width: 416px;
  height: 278px;
  left: 0px;
  top: -1px;
  background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
  border-radius: 18px 18px 0 0;
}

#topContainer div:first-child {
  position: absolute;
  width: 53px;
  height: 39px;
  left: 56px;
  top: 19px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #ffffff;
}
#topContainer div:nth-child(2) {
  position: absolute;
  height: 29px;
  left: 56px;
  top: 65px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
}

#topContainer > p {
  position: absolute;
  width: 228px;
  height: 46px;
  left: 56px;
  top: 104px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  /* or 128% */

  color: #ffffff;
}
#handShow {
  margin-left: 10px;
}

#topContainer > div:last-child {
  position: absolute;
  width: 67px;
  height: 67px;
  left: 38px;
  top: 165px;
  background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  z-index: 1;
}
#topContainer > div:last-child > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#floatContainer {
  position: relative;
  width: 390px;
  height: 400px;
  left: 13px;
  top: 199px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

#floatContainer > div > span {
  position: absolute;
  width: 188px;
  height: 18px;
  left: 39px;
  top: 53px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 18px;
  color: #2d2d2d;
}

#questionContainer {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 234px;
  top: 52px;
  border-radius: 50%;
  background: rgba(247, 183, 49, 0.12);
  text-align: center;
  color: #ff7600;
  font-weight: bolder;
}

.faqs {
  position: absolute;
  top: 80px;
  left: 30px;
}

.faqs > div {
  width: 339px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.faqs > div:nth-child(1) {
  margin-top: 2px;
}

.faqs > div > div {
  margin-left: 5px;
}

.outerCircle {
  width: 14px;
  height: 14px;
  position: relative;
  background: rgba(255, 118, 0, 0.15);
  border-radius: 50%;
}

.innerCircle {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 118, 0, 0.8);
  border-radius: 50%;
}

#bottomButton {
  position: absolute;
  width: 268px;
  height: 44px;
  left: 74px;
  bottom: 20px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: flex;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #2d2d2d;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#bottomButton > img {
  width: 15px;
  height: 15px;
}
